@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background: linear-gradient(to right, #ffffff 5%, #ec8814 95%);
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 90px;
  width: auto;
  margin-right: 10px;
}
nav .logo h1 {
  font-size: 50px;
  background: linear-gradient(to right, #fcaa27 0%, #d5e521 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: purple;
  font-size: 25px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #ce7031;
}


#searchInput {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #resultsList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    max-height: 200px; /* Limite de la hauteur pour la défilement */
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
  }
  
  #resultsList li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  #resultsList li:last-child {
    border-bottom: none;
  }
h1 {
  text-align: center;
  color: purple;
}
footer {
    background: linear-gradient(to right, #ffffff 5%, #ec8814 95%);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; 
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center; 
    border-top: 1px solid #ccc; 
  }