header {
    background-color: #a3cfbd;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    color: rgb(210, 225, 255);
}
h1 {
    color: #a1e6dc;
    font-size: 50px;
}

form.search {
    display: flex;
    justify-content: end;
    align-items: center;
}

